
<div class="container">
  <div class="row">
    
  <u> <h2> Group Name: </h2> </u> <h3>{{nameof}} </h3>
     <a [routerLink]="['/chatRooms']"> <div class="designButton"><button class="btn btn-success">Group Chat</button></div></a>
    <div class="col-md-8 col-md-offset-2">
      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
                         <div *ngIf = "nameof==message.nameOfGroup">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
          </div>
        </div>
       </div>
      <figure class="highlight row">
        <div class="col-xs-10"><input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"/></div>
        <div class="col-xs-2"><button class="btn btn-primary" (click)="sendMessage()">SEND</button></div>
      </figure>    
    </div>
  </div>
</div>
