<div class = "container">
  <div [hidden]="submitted">
      <h1 style="text-align: center">Update Profile</h1>

      <div class="row">

           <div class="col-md-8 well"> 
            <form class="form-horizontal" >
                <div class = "form-group">
                    <label for = "name" class ="col-xs-2 control-label">Full Name</label>
                    <input type = "text" [(ngModel)] = "userinfo.name" name = "name" disabled>
                </div>
                <div class = "form-group">
                    <label for = "name" class ="col-xs-2 control-label">Mail</label>
                    <input type = "text" [(ngModel)] = "email" name = "mail" disabled>
                </div>
                <div class = "form-group">
                    <label for = "City" class ="col-xs-2 control-label">Current City</label>
                    <input type = "text" placeholder ="e.g. Jerusalem" [(ngModel)] = "userinfo.city" name ="city">
                </div>
                <div class = "form-group">
                    <label for = "DOB" class ="col-xs-2 control-label">Date Of Birth</label>
                    <div class="col-xs-10">
                            <input type="date" class="form-control" [(ngModel)] = "userinfo.dob" name="dob" >
                    </div>
                </div>



                <div class = "form-group" *ngIf = "photo">
                    <label for = "photo" class ="col-xs-2 control-label">Photo</label>
                    <div class="col-xs-10 col-lg-12">
                        <label class="custom-file-upload">
                        <input type="file" accept="image/*" (change) ="upload($event)" size="50"/>
                        Change Profile Image
                    </label>
                            <img [src]="photo" class="img-thumbnail">
                    </div>
                </div>

                <div class="text-left">
                    <input type="button" class="btn btn-primary" value="Update profile" (click)="updateProfile" [routerLink]="['']" />
                </div>
                
               
            </form>
           </div>
      </div>
  </div>
</div>