img{
    width: 250px;
    height: 250px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: blue;
    position: absolute;
    opacity: 0.7;

}