
  <div class="container">
  <div class="row well">
   <div class="col-xs-6 col-lg-3">
      <a [routerLink]="['/chat']"><button class="btn btn-primary maincmd">General<br>Chat</button></a>
    </div>

    <div class="col-xs-6 col-lg-3">
     <a [routerLink]="['/chatRooms']"> <button type="button" class= "btn btn-success maincmd"> Group<br>Chat</button></a>
    </div>